{% extends 'base.html' %}
{% block title %} Home {% endblock title %} 
{% block homeactive %} active
{% endblock homeactive %}
{% load static %}
{% block css %}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.custom {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.custom span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.custom span:after {
  content: ' \263B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.custom:hover span {
  padding-right: 25px;
}

.custom:hover span:after {
  opacity: 1;
  right: 0.25;
}
.bd-placeholder-img{
  border: 1px solid #a83283;
  shadow
  padding: 5px;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}
{% endblock css %}

{% block body %}

  <section class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'common/jumbo.jpeg'%}" class="bd-placeholder-img rounded-circle" width="140" height="140" >
       <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>  -->
      <h1 class="display-4"><b><span id="typed"></b></span></h1>
      <p class="lead">Tech Blogs, Coding Blogs, Web Development, Python, Django, Flask, JavaScript and Much More</p>
      <p>
        <a href="/blog" class="btn btn-danger custom mx-2 my-2"> <span> Blog </span></a>
      
        <a href="/contact" class="btn btn-primary custom  my-2"> <span> Contact</span></a>
    </p>
    </div>
  
  </section>

<div class="container text-center my-3">


  <section class="jumbotron text-center my-2" style="background-color: rgb(241, 224, 227), 247, 247); border-radius: 30px;">
    <div class="container" >
      <h1>Recent Blogs </h1>
      <p class="lead">Here are Some Recent Blog Post. Sign Up with iProgrammer to Stay Updated with Latest Tech Blogs</p>
    </div>
  </section>


  <div class="row my-5">
  {% for post in featured %}
      <div class="col-lg-4">
        <img src="{% static 'common/carouselfive.jpg'%}" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>{{post.title|truncatechars:10}}</h2>
        <div class="container">
        <p style="text-align: center;">{{post.content|truncatechars:350}}</p>
      </div>
        <p><a class="btn btn-secondary" href="/blog/{{post.slug}}" role="button">View details »</a></p>
      </div>
     <!-- /.col-lg-4 -->
      
      {%if forloop.counter|divisibleby:3%}
     

    </div>  <div class="jumbotron jumbotron-fluid" style="background-image: url('https://source.unsplash.com/1600x900/?technology,coding'); border-radius: 30px;">
      <div class="container">
        
        <p>
          <a href="/blog" class="btn btn-danger custom mx-2 my-2"> <span> Blog </span></a>
        
          <a href="/contact" class="btn btn-primary custom  my-2"> <span> Contact</span></a>
      </p>
      </div>
    </div> 
    
    <div class="row my-5">
{%endif%}
{%endfor%}
</div>
</div>
<div class="typed-strings"></div>
{% endblock body %}
{% block footer %}
/
{% endblock footer %}
{% block social %}

<a href="https://www.facebook.com/sujay.sinha.146" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/sujay_sinha02/" class="fa fa-instagram">  </a>
        <a href="#" class="fa fa-twitter">  </a>
{% endblock social %}
{% block js %}



var typed = new Typed('#typed',{
                    strings:["Welcome to iProgrammer","Coding Blogs","Tech Blogs","Web Development","Welcome to iProgrammer"],
                    backSpeed: 15,
                    smartBackspace: true,
                    backDelay: 1200,
                    startDelay: 1000,
                    typeSpeed: 25,
                    loop: false,

                  });
  
{% endblock js %}