{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active
{% endblock homeactive %}
{% load static %}
{% block css %}
.text-center{
text-align:center !important;
}
.btn:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.custom {
display: inline-block;
border-radius: 4px;
background-color: #f4511e;
border: none;
border-radius:50px;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.custom span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.custom span:after {
content: ' \263B';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.custom:hover span {
padding-right: 25px;
}

.custom:hover span:after {
opacity: 1;
right: 0.25;

}
.bd-placeholder-img{
border: 5px solid #283259;
shadow
padding: 5px;
-moz-box-shadow: 0px 6px 5px #ccc;
-webkit-box-shadow: 0px 6px 5px #ccc;
box-shadow: 0px 6px 5px #ccc;
-moz-border-radius:190px;
-webkit-border-radius:190px;
border-radius:190px;
}
.rounded-circle{
cursor:pointer;
}
.typingJS{
font-size:2.9rem;
}
.sizefix{
  height:100%;
  width: 100%;
  
}


{% endblock css %}

{% block body %}

<section class="jumbotron my-4 mx-2 mx-xs-2 mx-sm-2 text-center"
  style="border-radius: 0px;border:0px solid  #283259!important; background-image: url('/static/common/carouselthree.jpg'); background-size: cover; background-blend-mode: overlay;">
  <div class="container w3-theme-l4" style="border:1px solid #283259!important; border-radius: 50px;">
    <div class="view  zoom">
      <a href="/about"><img src="{% static 'common/jumbo.jpeg'%}"
          class="bd-placeholder-img img-fluid my-2 rounded-circle" width="140" height="140"></a>
    </div>
    <div>
      <h1 class="display-4 typingJS"><b><span id="typed"></b></span></h1>
    </div>
    <p class="lead">iProgrammer a blogging Website wTech Blogs, Coding Blogs, Web Development, Python, Django, Flask,
      JavaScript and Much More</p>
    <p>
      <a href="/blog" class="btn btn-warning custom mx-2 my-2"> <span> Blog </span></a>

      <a href="/contact" class="btn btn-primary custom  my-2"> <span> Contact</span></a>
    </p>
  </div>

</section>


<section class="jumbotron my-4 mx-2 mx-xs-2 mx-sm-2  text-center"
  style="border-radius: 0px;background-image: url('https://source.unsplash.com/1600x900/?blogs,technology'); background-repeat: no-repeat;background-attachment:fixed; background-size:cover; background-blend-mode: overlay;  ">
  <div class="container  text-center " style="border-radius: 50px; border:1px solid #283259!important; ">
    {%for item in featured_two%}
    <div class="nav-scroller py-1 mb-1"">

    <nav class=" nav d-flex justify-content-between">
     
      <a class="p-3" href="#"> <strong>Coding</strong></a>
      <a class="p-3" href="#"> <strong>Web Development</strong></a>
      <a class="p-3" href="#"> <strong>Technology</strong></a>
      <a class="p-3" href="#"> <strong>Latest Technology</strong></a>
   
      </nav>
    </div>
    <div class="jumbotron my-3 longer-featured-post jumbotron-fluid"
      style="background-image: url('/static/common/carouselone.jpg'); border-radius: 30px; ">
      <div class="container long">
        <h1 class="display-4" style="color: #ff0000;font-weight: 900;">{{item.title}}</h1>
        <p class="lead long" style="color:rgb(255, 255, 255);">{{item.content|truncatechars:200}}</p>
        <div>
          <a class="btn btn-danger custom" href="/blog/{{item.slug}}" role="button"><span>Read</span></a>
        </div>
      </div>
    </div>

    {%endfor%}

    <section class="jumbotron  myclass text-center my-4" style=" border-radius: 30px;">
      <div class="container">
        <h1>Recent Blogs </h1>
        <hr style="border: 2px darkblue;border-style: inset; ">
        <p class="lead" style="font-size: 1.5rem;">Here are Some Recent Blog Post. Sign Up with iProgrammer to Stay
          Updated with Latest Tech Blogs
        </p>
      </div>
    </section>


    <div class="row">
    {% for posts in featured %}
    <div class="col-md-6">
      <div class="row sizefix no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{posts.category}}</strong>
          <h3 class="mb-0">{{posts.title}}</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">{{posts.content|truncatechars:150}}
          </p>
          <a href="/blog/{{posts.slug}}" class="btn btn-primary" role="button" >Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block" style="justify-content: center ; text-align: center;">
          <img src="/media/{{posts.thumbnail}}" class="bd-placeholder-img my-5 text-center rounded-circle" width="200" height="200" style="justify-content: center; text-align: center center;" >
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
  </div> <div class="row">
    {% endif %}
    {% endfor %}
  </div>
    <div class="container  jumbotron jumbotron-fluid"
      style="background-image: url('https://source.unsplash.com/1600x900/?python,programmers');background-blend-mode: darken; border-radius: 30px;">
      <p>
        <a href="/blog" class="btn btn-danger custom mx-2 my-2"> <span> Blog </span></a>

        <a href="/contact" class="btn btn-primary custom  my-2"> <span> Contact</span></a>
      </p>

    </div>



  </div>
  </div>
</section>
<div class="typed-strings"></div>
{% endblock body %}
{% block footer %}
/
{% endblock footer %}
{% block social %}

<a href="https://www.facebook.com/sujay.sinha.146" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/sujay_sinha02/" class="fa fa-instagram"> </a>
<a href="https://twitter.com/_sujayshekhar?fbclid=IwAR2IvbN5gt3VUDiLDasKszGDAYp3SWLMnRn65hXfGo_ohwFDAplRx3BE0_Q"
  class="fa fa-twitter"> </a>
{% endblock social %}
{% block js %}



var typed = new Typed('#typed',{
strings:["Welcome To iProgrammer","Coding Blogs","Tech Blogs","Welcome To iProgrammer"],
backSpeed: 15,
smartBackspace: true,
backDelay: 1200,
startDelay: 1000,
typeSpeed: 25,
loop: false,

});

{% endblock js %}