{% extends 'base.html' %}
{% load static %}
{% block title %} Blog - Home {% endblock title %}
{% block blogactive %} active
{% endblock blogactive %}
{% block css %}
.custom {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    justify-content:center;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .custom span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .custom span:after {
    content: ' \27B3 ';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .custom:hover span {
    padding-right: 25px;
  }
  
  .custom:hover span.readdoc:after {
    opacity: 1;
    right: 0.25;
  }
.centring{
  display:flex;
  justify-content:center;
  text-align:center;

}
.featurette{
 
}
.text{
  color:blue;
}

h2 {
  color:#7a4309 !important;
}
.for{
  justify-content:center;
  
}


{% endblock css %}

{% block body %}
<section class="jumbotron my-4 mx-2 mx-xs-2 mx-sm-2  text-center"
  style="border-radius: 0px;background-image: url('https://source.unsplash.com/1600x900/?blogs,technology'); background-repeat: no-repeat;background-attachment:fixed; background-size:cover; background-blend-mode: overlay;  ">
<div class="container my-3">
<h1><strong>iProgrammer All Articles &#8595; </strong> </h1>


{% for posts in allPosts %}

 <div class="container-fluid my-2">
   <hr style="border: 2px rgb(212, 161, 20);border-style: inset; ">
  <div class="row featurette  my-10">
    <div class="col-md-7">
      <h5 class="text my-2"><strong>{{posts.category}}</strong></h5>
      <h2 class="featurette-heading my-2">{{posts.title}}<span class="text-muted"><b> &#x274D; </b> By : {{posts.author}} </span></h2>
      <p><small>{{posts.timestamp}}</small></p>
      <p class="lead">{{posts.content|truncatechars:300}}...</p>
      
    </div>
    <div class="col-md-5 centring">
      <img src="/media/{{posts.thumbnail}}" class="bd-placeholder-img rounded-circle abcd " width="300" height="300" >
    </div>
  </div>
  <div class="for">
    <a href="/blog/{{posts.slug}}"  class="btn btn-primary custom my-4"><span class="readdoc">Read Full</span></a>
  </div>
      </div>

{% endfor %}
</div>
</section>
{% endblock body %}
{% block footer %}
/blog
{% endblock footer %}
{% block social %}

<a href="https://www.facebook.com/sujay.sinha.146" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/sujay_sinha02/" class="fa fa-instagram">  </a>
        <a href="https://twitter.com/_sujayshekhar?fbclid=IwAR2IvbN5gt3VUDiLDasKszGDAYp3SWLMnRn65hXfGo_ohwFDAplRx3BE0_Q" class="fa fa-twitter">  </a>
{% endblock social %}