<!doctype html>
<html lang="en">

  <head>
  {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  Typed.Js  -->
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js"></script>
    <title>{% block title %} {% endblock title %}</title>
    
<style>
  .brandLogo{
    max-width : 150px;
  }
  .navbar{
    border-radius: 10px;
  }

  

.fa {
padding: 5px;
font-size: 20px;
width:20;
height:20;
border-radius:100px;
text-align: center;
text-decoration: none;
margin: 5px 5px;
}

.fa:hover {
opacity: 0.3;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-instagram {
background: #a83283;
color: white;
}
</style>
<style>{% block css %} {% endblock css %}</style>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="/">
        <img  class="brandLogo" src="{% static 'common/iProg.png'%}" alt="iProgrammer">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}{% endblock homeactive %} ">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item {% block blogactive %}{% endblock blogactive %}">
              <a class="nav-link" href="/blog">Blog</a>
            </li>


            <li class="nav-item {% block aboutactive %}{% endblock aboutactive %}">
              <a class="nav-link" href="/about">About Me</a>
            </li>
            
            <li class="nav-item {% block contactactive %}{% endblock contactactive %}">
              <a class="nav-link" href="/contact">Contact Me</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    
      {% for message in messages %}
       <div class="alert alert-{{message.tags}} alert-dismissible fade show mb-0" id="" role="alert">
  <strong>iProgrammer : </strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> 

{% endfor %}
      {% block body %}
      {% endblock body %}
    
    <footer class="container my-5">
    <hr>
    <p class="float-right"><a href="{% block footer %} {% endblock footer %}">Back to top</a></p>
    <p>© 2020-2021 iProgrammer <a href="/">Home</a> | <a href="/blog">Blog</a> {% block social %}
     {% endblock social %}</p>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script> {% block js %} {% endblock js %} </script>
  </body>
</html>